{%extends 'base.html'%}
{%block title%} Profile .... {%endblock %}

{%block content%}


<br><br>
{% if user.is_authenticated %}
        <h1>Edit Your Setting</h1>
        <div class="form-group">
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
                <a href='http://127.0.0.1:8000/members/password/'>Change password from her</a>
        </div>
     
        
{%endif%}

{%endblock%}