{%extends 'base.html'%}
{%block title%} Deleting A Post {%endblock %}

{%block content%}

<br><br>
        {% if user.id == post.author.id %}
            <h1>Are You Sure Delete This Post ??<h1>
            <div class="form-group">
                <form method="POST">
                    {%csrf_token%}
                    The Post " {{post.title}} " <br>by : {{post.author}}<br><br>
                    <button class="btn btn-primary" type="submit">Delete</button>
            </div>

        {% else %}
             <h1>You cannot delete this Post ....<h1>
        {% endif %}

{%endblock%}