{%extends 'base.html'%}
{%block title%}magdi blog {%endblock %}


{%block content%}



<h1>POSTS<h1>
<ul>    
{% for post in object_list %}

    <li>
        <a href='{%url "article_detail" post.pk %}'>{{post.title}}</a><small> - <a href="{%url 'category_view' post.category %}" >{{post.category}}</a> - {{post.author.first_name}} - {{post.post_data}}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href='{% url "update_post" post.pk%}'>(تعديل) </a><a href='{% url "delete_post" post.pk%}'>(حذف) </a>
            {% endif %}<br>
        {% endif %}
        
        {% if post.snippet %}
            {{ post.snippet |slice:':300' |safe }}
        {% else %}
            {{ post.body |slice:':190' |safe }}<br>
        {% endif %}
        </small>
        <br> <hr>
    </li>

{% endfor %}
</ul>

{% endblock %}

